{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{%endblock title%} | Agr Med</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href= "{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg shadow-0" style="background-color: #ffede7;">
    <div class="container">
      <a class="navbar-brand fw-bold text-primary" href="{% url 'home' %}">Agr Med</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav_menu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'about' %}">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'contact' %}">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" href="{% url 'signup' %}">Signup</a>
          </li>
        </ul>
  
        <ul class="navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link px-2" href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2" href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   {% block content %}{% endblock content%}

<footer class="text-center text-lg-start text-white mt-5" style="background-color: #1c2331">
    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-google"></i></a>
        <a href="" class="text-white me-4"><i class="fab fa-github"></i></a>
      </div>
    </section>

    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Agr Med</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p>Your trusted online pharmacy for authentic medicines and healthcare essentials with verified supply chain tracking.</p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Categories</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><a href="#!" class="text-white">Pain Relief</a></p>
            <p><a href="#!" class="text-white">Diabetes</a></p>
            <p><a href="#!" class="text-white">Vitamins</a></p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-home mr-3"></i> Lucknow, UP, India</p>
            <p><i class="fas fa-envelope mr-3"></i> info@agrmed.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 91 1234567890</p>
          </div>
        </div>
      </div>
    </section>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2026 Copyright: <a class="text-white" href="#">AgrMed.com</a>
    </div>
  </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>